/* sticky */
.sticky {
    padding: 5px 0;
    border-bottom: 0.6px solid #e5e5e5;
}

.website {
    width: 100%;
}

/* menu */
.menu {
    width: 100%;
    height: 90px;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    color: #7e7e7e;
    position: fixed;
    top: 0;
    background: linear-gradient(170deg, #fff, #f4f4f4);
    z-index: 999999;
    padding: 0 2%;
    transition: all 0.5s ease-in-out;
}

#toggle {
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    padding: 32px 0 32px 24px;
    display: none;
}

.menu .navbar {
    width: 100%;
    max-width: 800px;
    height: 86px;
    /* padding-left: 64px; */
    display: flex;
}

.menu .navbar .nav-img {
    width: 24%;
    height: 80%;
    margin-right: 30px;
    padding-top: 10px;
}


.menu .navbar a img {
    width: 100%;
    height: 100%;
}

.navbar-btn {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 22px;
    font-weight: 600;
    justify-content: space-between;
    z-index: 9999;
}

.navbar-btn .list-item {
    list-style: none;
    padding-top: 8px;
    height: 36px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    cursor: default;
}

.navbar .list-item a {
    width: 100%;
    padding: 5px 6px;
    text-decoration: none;
    color: var(--color);
}

.navbar-btn .list-item-a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.65px;
    background: rgb(90, 90, 90);
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.navbar-btn .list-item:hover .list-item-a::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


.list-brand {
    width: 100%;
    background-color: var(--background-color);
    margin-top: 14px;
    padding-bottom: 6px;
    overflow: hidden;
    border-radius: 6px;
    font-weight: 400;
    box-shadow: 4px 4px 8px #7e7e7e;    
    display: none;
    animation: growth ease 0.25s;
    transform-origin: right 0;
}

.list-faq::before {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 20px;
}

/* 
.list-brand::after {
    content: "";
    position: absolute;
    top: 46px;
    width: 8%;
    height: 30px;
} */

.navbar .nav-item:hover .list-brand {
    display: block;
}

.nav-item::after {
    content: '';
    position: absolute;
    top: 97%;
    left: -100%;
    background-color: #fcfcfc;
    width: 100%;
    height: 3px;
}

.list-list {
    list-style: none;
    margin-bottom: 4px;
}

.list-list a {
    padding-left: 4px;
    display: block;
    color: var(--color);
}

.list-list a:hover {
    background-color: #e5e5e5;
}

.item-nav::after {
    content: '';
    position: absolute;
    top: 97%;
    left: -100%;
    background-color: #fcfcfc;
    width: 100%;
    height: 3px;
}

.navbar .item-nav:hover .list-brand {
    display: block;
    position: absolute;
    width: 750%;
    right: 0;
}

.s-s-u {
    width: 40%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    /* margin-right: 5%; */
}

.s-s-u .item {
    margin: 0 18px;
}

.s-s-u .item a {
    color: var(--color);
}

.active-input {
    cursor: pointer;
    position: relative;
    color: var(--color);
    top: 0;
    right: 0;
}

.search-icon {
    z-index: -1;
}

.active-input .search {
    margin-right: 8px;
    padding-left: 30px;
    font-size: 14px;
    color: rgb(81, 81, 81);
    position: absolute;
    right: -15px;
    top: -4px;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    z-index: 999;
    background-color: rgba(255, 0, 0, 0);
    opacity: 0;
}

.search-active {
    display: none;
    opacity: 0;
}

.search:focus {
    width: 300px;
    outline: 1px solid #d7d7d7;
    border: none;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.search:focus~.search-icon {
    top: 8px;
    right: 0;
}

.search:focus~.search-active {
    position: absolute;
    top: 0;
    right: calc(100% + 60%);
    display: block;
    z-index: 999;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

/* Body */
.body {
    width: 100%;
    margin: 84px auto 0;
}

.heading {
    padding: 60px 46px 30px;
    font-weight: 600;
    font-size: 24px;
}

.box-product {
    max-width: 228px;
    height: 60%;
    max-height: 336px;
    padding-bottom: 4px;
    background-color: #EBEBEB;
    font-size: 14.4px;
    cursor: pointer;
    position: relative;
}

.box-img {
    width: 100%;
    max-height: 228px;
    height: 66%;
}

.box-title {
    padding: 0 10px;
    margin-top: 8px;
}

.box-header {
    font-size: 14.4px;
    padding-bottom: 4%;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 1.42;
    -webkit-transition: opacity 213ms cubic-bezier(.4, .9, .3, 1), visibility 213ms cubic-bezier(.4, .9, .3, 1);
    transition: opacity 213ms cubic-bezier(.4, .9, .3, 1), visibility 213ms cubic-bezier(.4, .9, .3, 1);
}

.box-price {
    font-size: 12px;
}

.sales {
    float: right;
}

.fa-circle {
    margin: 8px 4px 0 0;
    cursor: pointer;
}

/* product */
.product-product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10px;
    overflow: hidden;
}

.modifier {
    margin: 0 0 16px;
    max-width: 228px;
    height: 60%;
    max-height: 336px;
    padding-bottom: 4px;
    background-color: #EBEBEB;
    font-size: 14.4px;
    cursor: pointer;
    position: relative;
}

.btn-like {
    top: 2%;
    left: 2%;
    color: #d7d7d7;
    position: absolute;
}

.btn-like:hover {
    transform: scale(1.2);
    transition: .25s ease;
}

.see-more {
    text-align: center;
    margin: 20px 0;
}

.see-more button {
    background: none;
    height: 40px;
    width: 150px;
    color: #0D6EFD;
    border: 1px solid #0D6EFD;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
}

.button-customize {
    text-align: center;
}

.button-customize button {
    background: none;
    height: 40px;
    width: 36%;
    max-width: 280px;
    color: var(--color);
    border: 1px solid var(--color-border);
    border-radius: 2px;
    font-size: 22px;
}

.button-customize button:hover {
    background-color: #000000;
    color: var(--color-footer);
    transition: 0.25s linear;
}


/* transport */
.transport {
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.box-transport {
    width: 340px;
    height: 140px;
    font-size: 20px;
    cursor: pointer;
}

.box-transport i {
    /* padding: 16px 0; */
}

.box-transport h4 {
    padding: 16px 0;
    font-weight: 600;
}

.box-transporot p {
    font-size: 12px;
    font-weight: lighter;
}

/* home */
/* Slick slider */
.slick-next,
.slick-prev {
    position: absolute;
    top: 50%;
    height: fit-content;
}

.slick-next::before,
.slick-prev::before {
    font-size: 36px;
    color: var(--background-color-main);
}

.slick-prev {
    left: -46px;
}

.slick-next {
    right: -28px;
}

.website {
    width: 100%;
    height: 100%;
}

.website .body-homepage {
    width: 90%;
    margin: 84px auto 0;
}

.banner a {
    color: var(--color-footer);
}

.banner-img {
    z-index: -1;
    image-rendering: pixelated;
    width: 100%;
    height: 630px;
}

.banner .show-more {
    position: absolute;
    bottom: 6%;
    margin-left: .5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 138px;
    border: 1px solid #fff;
    border-radius: 42px;
    z-index: 999;
}

.show-more:hover {
    background-color: #ffffff;
    color: var(--color);
    transition: 0.25s linear;
}

.famous-brand {}

.brand-brand {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box-brand {
    width: 18%;
    color: var(--color);
}

.box-brand img {
    width: 100%;
    height: 127.66px;
}

.box-brand p {
    font-size: 30px;
    text-align: center;
    padding-top: 28px;
}


/* best-selling */
.best-selling {
    width: 100%;
    height: 456px;
}

.best-selling-body {
    margin: 0 auto;
    width: 100%;
    height: 374px;
    text-align: center;
}

.best-selling-body .box-product {
    width: 228px;
    height: 336px;
    max-width: 96%;
    background-color: #EBEBEB;
    font-size: 14.4px;
    cursor: pointer;
    position: relative;
    text-align: left;
}

.box-img {
    width: 100%;
    height: 100%;
}

.box-title {
    padding: 0 10px;
    margin-top: 8px;
}

.box-header {
    font-size: 13.4px;
    height: 36px;
    max-height: 36px;
    margin-bottom: 10px;
    /* text-align: ; */
}

.box-price {
    font-size: 11px;
    text-align: unset;
}


/* Phan trang */
.listPage {
    text-align: center;
}

.listPage li {
    width: 30px;
    height: 24px;
    margin: 0 10px;
    padding: 4px;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    border-radius: 4px;
}

.listPage .active {
    color: #ffffff;
    background-color: #f93d17;
    border-radius: 4px;
}

.listPage li:hover:not(.active) {
    background-color: #e9e9e9;
}

/* news */
.news-news {
    display: flex;
    justify-content: space-between;
}

.box-news {
    width: 23%;
    color: var(--color);
    background-color: var(--background-color-main);
    text-decoration: none;
}

.box-news img {
    width: 100%;
    height: 70%;
}

.title-news {
    width: 100%;
    height: 24%;
    padding: 0 10px;
}

.title-news h4 {
    font-size: 12px;
    margin: 8px 0;
}

.title-news p {
    font-size: 11px;
}

.title-mdf {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
}

.title-mdf1 {
    -webkit-line-clamp: 2;
}

/* shoes */
.website .body-shoes {
    top: 20px;
    width: 100%;
    height: 100%;
    position: relative;
}

.body .brand {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 22px;
}

.barsButton {
    width: 120px;
    height: 36px;
    text-align: center;
    padding: 10px 0;
    border-radius: 40px;
    border: 1px solid #000000;
    display: none;
    background-color: var(--background-color);
}

/* Bộ lọc */
.filter {
    width: 100%;
    height: 58px;
    display: flex;
    /* margin-left: 16px; */
    padding: 0 50px;
    justify-content: space-between;
    border: 1px solid var(--color-border);
}

/* ẩn bộ lọc */
.hidden-filter {
    padding: 19px 20px;
    display: flex;
    width: 20%;
    max-width: 255.82px;
    min-width: 255.82px;
    justify-content: space-between;
}

.hidden-filter i {
    cursor: pointer;
}

.display {
    display: none;
}

/* kết quả */
.result-filter {
    padding: 19px 20px;
    width: 60%;
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
}

/* sắp xếp */
.sort-filter {
    width: 22%;
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    padding: 19px 20px;
    position: relative;
}

.sort-scroll {
    padding-left: 6px;
}

.sort-scroll .offer {
    font-weight: 600;
}

.offer-sort {
    width: 60%;
    border: 1px solid var(--color-border);
    border-radius: 6px;
    line-height: 28px;
    font-size: 14px;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 58px;
    display: none;
    z-index: 999;
    background-color: var(--background-color);
}

.offer-sort li {
    padding: 0 10px;
}

.offer-sort .active-offer {
    padding: 0 10px;
    width: 100%;
    color: var(--color-footer);
    background-color: rgb(56, 56, 255);
}

.offer-sort li:hover {
    color: var(--color-footer);
    background-color: rgb(56, 56, 255);
}

.sort-filter i {
    cursor: pointer;
}

.body-filter {
    width: 100%;
    margin: 30px auto 0;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.close-filter {
    margin: 10px 0;
    width: 100%;
    text-align: right;
    padding: 10px 0;
    border-radius: 40px;
    border: none;
    font-size: 20px;
    display: none;
    background-color: var(--background-color);
}

.left-filter {
    width: 284.68px;
    max-width: 284.68px;
    min-width: 284.68px;
}

.style-shoes {
    width: 80%;
    position: relative; 
    border-top: 1px solid var(--color-border);
    margin-bottom: 20px;
}

.heading-heading {
    width: 100%;
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
}

.heading-filter {
    font-size: 16px;
    line-height: 16px;
    font-weight: 200;
}

.heading-heading span {
    cursor: pointer;
}

.style {
    display: flex;
    flex-wrap: wrap;
    margin-left: 28px;
    animation: growth ease 0.25s;
    transform-origin: 50% top;
}

.style-shoes .style .box-style {
    max-width: 100px;
    max-height: 75px;
    /* margin: 20px 0; */
    border: 1px solid var(--color-border);
    cursor: pointer;
}

.box-style img{
    width: 100%;
    min-width: 90px;
    height: 100%;
    max-height: 50px;
}

.box-style p {
    text-align: center;
    font-size: 14px;
    font-weight: 200;
}

.style .box-size {
    width: 20%;
    height: 48px;
    display: flex;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--color-border);
}

.box-size:hover {
    background-color: #000000;
    color: var(--color-footer);
    transition: 0.25s linear;
}

.box-color {
    width: 20%;
    font-size: 24px;
    justify-content: space-between;
}

.right-filter {
    width: 100%;
}

.margin {
    margin: 0 20px 30px;
}

.show {
    display: block;
}

.Hidden {
    display: none;
}

.flex {
    display: flex;
}

/* footer */
.footer {
    height: 386px;
    position: relative;
    /* background-image: url(/img/img/footer2.jpg); */
    background-size: 77%;
    background-repeat: repeat no-repeat;
    color: var(--color-footer);
}

.footer-img {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.footer-img img {
    width: 100%;
    height: 100%;
}

.footer-information {
    z-index: 9999;
    display: flex; 
    justify-content: space-evenly;
}

.title {
    max-width: 30%;
    height: auto;
    margin-top: 20px;
}

.footer-heading {
    font-size: 20px;
    color: var(--color-footer);
}

.box-information {
    font-size: 12px;
    margin: 14px 0 0;
}

.box-information p {
    font-size: 14px;
}

.inta,
.mail,
.fb,
.telephone,
.story {
    display: block;
    margin: 10px 0;
    font-size: 14px;
    color: var(--color-footer);
}

.socialNetwork {
    color: var(--color-footer);
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
}

.socialNetwork i {
    margin-right: 8px;
}

.card a img {
    filter: none;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    margin-right: 4px;
}

.footer-bottom {
    width: 100%;
    position: absolute;
    bottom: 6%;
    display: flex;
    justify-content: center;
}

@media (min-width: 1px) {
    .box-product,
    .modifier {
        max-width: 48%;
        max-height: 60%;
        flex-basis: 48%;
    }

    .box-header {
        font-size: 8px;
    }

    .box-price {
        font-size: 6px;
    }

    .left-filter {
        /* display: none; */
    }

    .button-customize button {
        font-size: 8px;
    }

    .box-transport {
        font-size: 8px;
    }

    .box-information p {
        font-size: 8px;
    }

    .footer {
        max-height: 280px;
    }

    .footer-heading {
        font-size: 10px;
    }


    .socialNetwork {
        font-size: 8px;
    }

    .story {
        font-size: 8px;
    }

    .footer-bottom {
        font-size: 8px;
    }

    .card a img {
        width: 20px;
        height: 20px;
    }
}

@media (min-width: 420px) {
    .box-product,
    .modifier {
        max-width: 32.3333%;
        max-height: 66%;
        flex-basis: 32.3333%;
    }
}

@media (min-width: 740px) {
    .box-product,
    .modifier {
        max-width: 24.3333%;
        max-height: 70%;
        flex-basis: 24.3333%;
    }

    .box-header {
        font-size: 10px;
    }

    .box-price {
        font-size: 8px;
    }

    .button-customize button {
        font-size: 10px;
    }

    .box-transport {
        font-size: 10px;
    }

    .footer-heading {
        font-size: 12px;
    }

    .box-information p {
        font-size: 10px;
    }

    .socialNetwork {
        font-size: 10px;
    }

    .story {
        font-size: 10px;
    }

    .footer-bottom {
        font-size: 10px;
    }

    .card a img {
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 1025px) {
    .box-brand img {
        height: 112.66px;
    }

    .box-brand p {
        font-size: 24px;
    }

    .box-product,
    .modifier {
        max-width: 18%;
        max-height: 80%;
        flex-basis: 18%;
    }

    .box-header {
        font-size: 12px;
    }

    .box-price {
        font-size: 10px;
    }

    .button-customize button {
        font-size: 12px;
    }

    .box-transport {
        font-size: 12px;
    }

    .footer {
        max-height: 360px;
    }

    .footer-heading {
        font-size: 14px;
    }

    .box-information p {
        font-size: 12px;
    }

    .socialNetwork {
        font-size: 12px;
    }

    .story {
        font-size: 12px;
    }

    .footer-bottom {
        font-size: 12px;
    }

    .card a img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 1024px) {
    .menu .navbar {
        flex-direction: column;
        padding-left: 24px;
    }

    .menu .navbar .nav-img {
        max-height: 70%;
        padding-top: 24px;
    }

    .navbar-btn {
        text-align: center;
        width: 100%;
        flex-direction: column;
        display: none;
        height: 2000px;
        top: 60px;
        left: 0;    
        position: absolute;
        background-color: var(--background-color);
    }

    .navbar-btn .list-item {
        overflow: unset;
        margin: 20px 0 0;
    }

    #toggle {
        display: block;
    }

    .list-item-a::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 25%;
        /* display: flex; */
        width: 50%;
        height: 2px;
        background-color: var(--color-border);
    }

    .list-item-a::after {
        display: none;
    }

    .list-brand {
        position: absolute;
        top: -78px;
        left: 0;
        height: 270px;
        box-shadow: none;
        z-index: 1000;
        transform-origin: 50% top;
        overflow: unset;
    }

    .list-item-a .list-brand .list-list a {
        padding: 32px 0 0;
    }

    .list-list a::after {
        content: '';
        display: block;
        position: relative;
        bottom: 0;
        left: 25%;
        width: 50%;
        height: 2px;
        background-color: var(--color-border);
    }

    .brand-faq {
        top: -242px;
    }

    .navbar .nav-item:hover .list-brand {
        display: block;
    }

    .navbar .item-nav:hover .list-brand {
        display: block;
        position: absolute;
        width: 100%;
        right: 0;
    }

    .nav-item::after {
        display: none;
    }
    .s-s-u {
        margin-right: 0;
    }

    .search:focus {
        max-width: 248px;
    }

    .body {
        max-width: 96%;
    }

    .body .brand {
        font-size: 18px;
    }

    /* home */
    .box-brand img {
        height: 80.66px;
    }

    .box-brand p {
        font-size: 18px;
        padding: 0;
    }

    .filter {
        border: none;
        display: flex;
        padding: 0;
        justify-content: space-between;
    }

    .sort-filter,
    .hidden-filter {
        display: none;
    }

    .result-filter {
        border: none;
        padding: 12px 0;
        text-align: right;
    }
    
    .barsButton {
        display: block;
    }

    .body-filter {
        padding: 0;
    }

    .left-filter {
        display: none;
        position: fixed;
        top: 90px;
        left: 0;
        /* bottom: 0; */
        height: 2000px;
        z-index: 999;
        margin: -1px;
        padding: 0 50px;
        width: 100%;
        max-width: -webkit-fill-available;
        background-color: var(--background-color);
    }

    .close-filter {
        display: block;
    }
    
    .style-shoes {
        width: 50%;
    }

    .right-filter {
        width: 100%;
    }

    .title-mdf {
        -webkit-line-clamp: 2;
    }

    /*  */
    .banner-img {
        max-height: 480px;
    }

    .best-selling {
        max-height: 376px;
    }

    .heading {
        padding: 20px 10px;
        font-size: 14px;
    }

    .best-selling-body {
        height: 336px;
    }

    /*  */
    .best-selling-body .box-product {
        max-width: 96%;
        max-height: 318px;
    }

    .box-header {
        font-size: 12px;
    }

    .box-price {
        font-size: 10px;
    }

    .button-customize button {
        font-size: 12px;
    }

    .box-transport {
        font-size: 12px;
    }

    .footer {
        /* max-height: 360px; */
    }

    .footer-heading {
        font-size: 14px;
    }

    .box-information p {
        font-size: 12px;
    }

    .socialNetwork {
        font-size: 12px;
    }

    .story {
        font-size: 12px;
    }

    .footer-bottom {
        font-size: 12px;
    }

    .card a img {
        width: 40px;
        height: 40px;
    }


    .slick-slider
    .slick-next,
    .slick-prev {
        display: none;
        position: absolute;
        left: -100%;
    }

}

@media (max-width: 740px) {
    .banner-img {
        max-height: 270px;
    }

    .best-selling {
        max-height: 300px;
    }

    .heading {
        padding: 20px 10px;
        font-size: 10px;
    }

    .best-selling-body {
        max-height: 260px;
    }

    .best-selling-body .box-product {
        max-width: 96%;
        max-height: 240px;
    }

    .box-img {
        max-height: 70%;
    }

    .box-header {
        font-size: 10px;
        margin: 0;
        max-height: 32px;
    }

    .box-price {
        font-size: 8px;
    }

    .box-brand img {
        height: 58.66px;
    }

    .box-brand p {
        font-size: 14px;
        padding: 0;
    }

    .button-customize button {
        font-size: 10px;
    }

    /*  */
    .transport {
        display: block;
        width: 90%;
        margin: 0 auto 30px;
    }

    .box-transport {
        width: auto;
        display: flex;
        max-height: 74px;
        font-size: 10px;
        text-align: left;
    }

    .box-transport i {
        align-self: center;
        font-size: 20px;
        margin-right: 30px;
    }

    .box-transport h4 {
        padding: 12px 0 12px;
    }

    .news-news {
        flex-wrap: wrap;
    }
    
    .box-news {
        width: 48%;
        margin-bottom: 12px;
    }
    
    .box-news img {
        height: 66%;
    }
    
    .title-news {
        width: 100%;
        height: 24%;
        padding: 0 10px;
    }

    .footer {
        height: auto;
        max-height: none;
        background-color: #161616;
    }

    .footer-heading {
        font-size: 12px;
    }

    .box-information p {
        font-size: 10px;
    }

    .socialNetwork {
        font-size: 10px;
    }

    .story {
        font-size: 10px;
    }

    .footer-bottom {
        font-size: 10px;
        bottom: 2%;
    }

    .card a img {
        width: 30px;
        height: 30px;
    }

    .footer-img {
        display: none;
    }

    .footer-information {
        display: block;
        padding: 20px;
    }

    .footer-information .title {
        max-width: 100%;
        margin: 18px 0;
    }
}

@media (max-width: 520px) {
    .style-shoes {
        width: 100%;
    } 

    .body .brand {
        font-size: 14px;
    }

    .box-brand img {
        height: 36.66px;
    }

    .box-brand p {
        font-size: 10px;
    }
}